<section class="flex flex-col justify-center items-center">
  <article class="hover:shadow-lg shadow-orange-400 flex flex-col items-center">
    <p><%= data.id %></p>
    <p><%= data.description %></p>
  </article>
</section>