<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Productrónica</title>
</head>
<body class="bg-orange-200">
  <h1 class="font-bold text-6xl text-center mb-6 text-red-500">Bienvenido!</h1>
  <main class="grid grid-cols-1 md:grid-cols-2 gap-x-16 gap-y-20">
    {{{body}}}
  </main>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    const socket = io();
    let db = [];
    
    socket.on('OpenS', (data) => {
      socket.emit('OpenC', 'Client Escuchando');
      console.log(data);
    });

    socket.on('stock', (data) => {
      pRender(data);
    });

    const pRender = (products) => {
      let template = '';
      if (typeof products === 'string') {
        document.querySelector('#errorContainer').className = 'block hover:shadow-lg shadow-orange-400 p-4 flex flex-col items-center border-2 border-blue-500 bg-blue-500/20 col-span-2';
        document.querySelector('#listContainer').className = 'hidden hover:shadow-lg shadow-orange-400 flex flex-col items-center';
      } else {
        products.forEach((product) => {
        template += `
          <tr class="w-fit border-2 border-blue-500">
            <td class="border-2 border-blue-500 px-2">${product.title}</td>
            <td class="border-2 border-blue-500 px-2 text-center">$${product.price}</td>
            <td class="w-[75px] flex border-1 border-blue-500 p-2 justify-center box-border"><img class="h-10" src=${product.thumbnail} alt={{this.name}}></td>
          </tr>
        `
        });
        document.querySelector('#list').innerHTML = template;
        document.querySelector('#errorContainer').className = 'hidden hover:shadow-lg shadow-orange-400 p-4 flex flex-col items-center border-2 border-blue-500 bg-blue-500/20 col-span-2';
        document.querySelector('#listContainer').className = 'block hover:shadow-lg shadow-orange-400 flex flex-col items-center';
      }
    };

    socket.on('messages', (data) => {
      mRender(data);
    });

    const mRender = (messages) => {
      let template = '';
      if (typeof messages === 'string') {
        document.querySelector('#messageErrorContainer').className = 'block hover:shadow-lg shadow-orange-400 p-4 flex flex-col items-center border-2 border-blue-500 bg-blue-500/20 col-span-2';
        document.querySelector('#messageListContainer').className = 'hidden hover:shadow-lg shadow-orange-400 flex flex-col items-center';
      } else {
        messages.forEach((message) => {
        template += `
          <p class="font-bold text-lg">${message.mail} <span class="text-sm font-base text-blue-500">[${message.date}]</span>:</p>
          <p class="font-semibold text-md text-gray-700 italic">${message.message}</p>
        `
        });
        document.querySelector('#messageList').innerHTML = template;
        document.querySelector('#messageErrorContainer').className = 'hidden hover:shadow-lg shadow-orange-400 p-4 flex flex-col items-center border-2 border-blue-500 bg-blue-500/20 col-span-2';
        document.querySelector('#messageListContainer').className = 'block hover:shadow-lg shadow-orange-400 flex flex-col items-center';
      }
    }

    const addProduct = () => {
      const newProduct = {
        title: document.querySelector('#title').value,
        price: document.querySelector('#price').value,
        thumbnail: document.querySelector('#thumbnail').value
      };
      document.querySelector('#title').value = '';
      document.querySelector('#price').value = '';
      document.querySelector('#thumbnail').value = '';
      socket.emit('addProduct', newProduct);
      return false;
    };

    const validMail = () => {
      const validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+\.[a-zA-Z-]/;
      const mail = document.querySelector('#mail').value;
      if (mail.match(validRegex)) {
        document.querySelector('#message').disabled = false;
      } else {
        document.querySelector('#message').disabled = true;
      }
    };

    const messageExists = () => {
      const message = document.querySelector('#message').value;
      if (message.length >= 6) {
        document.querySelector('#sendMessage').disabled = false;
      } else {
        document.querySelector('#sendMessage').disabled = true;
      }
    };

    document.querySelector('#sendMessage').addEventListener('click', (e) => {
      e.preventDefault();
      const message = {mail: document.querySelector('#mail').value , message: document.querySelector('#message').value};
      document.querySelector('#message').value = '';
      socket.emit('newMessage', message);
    });
  </script>
</body>
</html>