<section class="flex flex-col justify-center items-center">
  <article id="errorContainer" class="block hover:shadow-lg shadow-orange-400 p-4 flex flex-col items-center border-2 border-blue-500 bg-blue-500/20 col-span-2">
    <p id="error" class="italic underline text-lg">No se encontraron productos</p>
  </article>
  <article id="listContainer" class="hidden hover:shadow-lg shadow-orange-400 flex flex-col items-center">
    <table class="w-full border-2 border-blue-500 mb-2">
      <tr class="border-2 border-blue-500">
        <th class="w-[136px] font-bold border-2 border-blue-500 px-2">Artículo</th>
        <th class="w-[73px] font-bold border-2 border-blue-500 px-2">Precio</th>
        <th class="font-bol border-2 border-blue-500 px-2">Imagen</th>
      </tr>
      <tr class="w-fit border-2 border-blue-500">
      </tr>
    </table>
    <table id="list"></table>
  </article>
</section>