<section class="flex flex-col items-center">
  <h1 class="text-2xl font-bold italic underline text-center">Chat</h1>
  {{>message/messageList admin = admin}}
  {{>message/messageForm data = data}}
</section>