<section class="flex flex-col items-center">
  <h1 class="text-2xl font-bold italic underline text-center">Bienvenide!</h1>
  <p class="text-md text-center mb-4">Para acceder a los productos debes Ingresar a tu cuenta o Registrarte</p>
  {{>login/loginForm}}
  {{>register/registerForm}}
</section>