<form class="flex flex-col w-full max-w-[296px] border-4 border-blue-900 rounded-lg p-4 mb-2" id="login">
  <h2 class="text-2xl font-bold text-blue-800 mb-4">Ingresá con tu Email!</h2>
  <label class="font-bold text-blue-500" for="userLogEmail">Email</label>
  <input class="border-2 border-blue-300 rounded-md bg-blue-300/20 shadow-sm shadow-orange-400 text-blue-700" id="userLogEmail" type="email" name="email">
  <label class="font-bold text-blue-500" for="userLogPass">Contraseña</label>
  <input class="border-2 border-blue-300 rounded-md bg-blue-300/20 shadow-sm shadow-orange-400 text-blue-700" id="userLogPass" type="password" name="password">
  <input id="submitLogin" disabled class="disabled:border-gray-300 disabled:bg-gray-200/50 disabled:cursor-not-allowed disabled:shadow-none disabled:text-gray-500 border border-blue-300 rounded-md bg-blue-400 w-fit self-end mt-3 p-1 font-bold text-red-500 hover:shadow-md shadow-orange-400" type="submit" value="Enviar">
</form>

<article id="logSuccess" class="hidden hover:shadow-lg shadow-orange-400 p-4 flex flex-col items-center border-2 border-blue-500 bg-blue-500/20 col-span-2'"></article>
<article id="logError" class="hidden hover:shadow-lg shadow-orange-400 p-4 flex flex-col items-center border-2 border-red-500 bg-red-500/20 col-span-2'"></article>