<main class="grid grid-cols-1 gap-x-16 gap-y-10">
  <article class="flex flex-col justify-start items-center mb-5">
    {{>sign}}
    {{>login}}
  </article>
  <a href="/" class="text-2xl font-bold text-blue-800 underline grid-cols-2 text-center my-4">Home</a>

</main>