<article class="flex justify-center md:justify-end">
  <div>
    <section class="md:h-1/2 flex flex-col justify-start items-center mb-10">
      {{>form}}
    </section>
    <section class="md:h-1/2 flex flex-col justify-start items-center mb-5">
      <h2 class="font-bold text-4xl text-center mb-6 text-red-500">Lista de Productos:</h2>
      {{>list}}
    </section>
  </div>
</article>
<article class="flex justify-center md:justify-start">
  <div>
    <section class="md:h-1/2 flex flex-col justify-start items-center mb-10">
      {{>message}}
    </section>
    <section class="md:h-1/2 flex flex-col justify-start items-center mb-5">
      <h2 class="font-bold text-4xl text-center mb-6 text-red-500">Lista de Mensajes:</h2>
      {{>messageList}}
    </section>
  </div>
</article>