<form class="flex flex-col max-w-fit border-4 border-blue-900 rounded-lg p-4 mb-2" id="login">
  <h2 class="text-2xl font-bold text-blue-800 mb-4">Ingresá con tu nombre!</h2>
  <label class="font-bold text-blue-500" for="userLogEmail">Email</label>
  <input class="border-2 border-blue-300 rounded-md bg-blue-300/20 shadow-sm shadow-orange-400 text-blue-700" id="userLogEmail" type="email" name="userLogEmail">
  <label class="font-bold text-blue-500" for="userLogPass">Contraseña</label>
  <input class="border-2 border-blue-300 rounded-md bg-blue-300/20 shadow-sm shadow-orange-400 text-blue-700" id="userLogPass" type="password" name="userLogPass">
  <input class="border border-blue-300 rounded-md bg-blue-400 w-fit self-end mt-3 p-1 font-bold text-red-500 hover:shadow-md shadow-orange-400" type="submit" value="Enviar">
</form>
<section class="hidden" id="logStatus"></section>