
<form class="flex flex-col max-w-fit border-4 border-blue-900 rounded-lg p-4" id="messageForm">
  {{#if data.admin}}
  <h2 class="text-2xl font-bold text-blue-800 mb-4">Dejanos un mensaje!</h2>
    <label class="font-bold text-blue-500" for="mailSelect">Correo Electrónico</label>
    <select
      class="
        border-2
        border-blue-300
        rounded-md
        bg-blue-300/20
        shadow-sm
        shadow-orange-400
        text-blue-700
      "
      id="mailSelect"
      name="mail"
    >
    </select>
    <label class="font-bold text-blue-500" for="message">Mensaje</label>
    <textarea oninput="messageExists()" class="disabled:border-gray-300 disabled:bg-gray-200/50 disabled:cursor-not-allowed border-2 border-blue-300 rounded-md bg-blue-300/20 shadow-sm shadow-orange-400 text-blue-700 pb-2" name="message" id="message" cols="2" rows="3"></textarea>
    <input disabled class="disabled:border-gray-300 disabled:bg-gray-200/50 disabled:cursor-not-allowed disabled:shadow-none disabled:text-gray-500 border border-blue-300 rounded-md bg-blue-400 w-fit self-end mt-3 p-1 font-bold text-red-500 hover:shadow-md shadow-orange-400" type="submit" value="Enviar" id="sendMessage"></input>
  {{else}}
    <h2 class="text-2xl font-bold text-blue-800 mb-4">Dejanos un mensaje!</h2>
    <label class="font-bold text-blue-500" for="mail">Correo Electrónico</label>
    <input disabled class="disabled:border-gray-300 disabled:bg-gray-200/50 disabled:cursor-not-allowed disabled:shadow-none disabled:text-gray-500 border-2 border-blue-300 rounded-md bg-blue-300/20 shadow-sm shadow-orange-400 text-blue-700" id="mail" type="email" name="mail" value="{{data._id}}">
    <label class="font-bold text-blue-500" for="message">Mensaje</label>
    <textarea oninput="messageExists()" class="disabled:border-gray-300 disabled:bg-gray-200/50 disabled:cursor-not-allowed border-2 border-blue-300 rounded-md bg-blue-300/20 shadow-sm shadow-orange-400 text-blue-700 pb-2" name="message" id="message" cols="2" rows="3"></textarea>
    <input disabled class="disabled:border-gray-300 disabled:bg-gray-200/50 disabled:cursor-not-allowed disabled:shadow-none disabled:text-gray-500 border border-blue-300 rounded-md bg-blue-400 w-fit self-end mt-3 p-1 font-bold text-red-500 hover:shadow-md shadow-orange-400" type="submit" value="Enviar" id="sendMessage">
  {{/if}}
</form>