<section class="flex flex-col justify-center items-center">
  <article id="messageErrorContainer" class="block hover:shadow-lg shadow-orange-400 p-4 flex flex-col items-center border-2 border-blue-500 bg-blue-500/20 col-span-2">
    <p id="messageError" class="italic underline text-lg">Todavía no hay mensages</p>
  </article>
  <article id="messageListContainer" class="hidden hover:shadow-lg shadow-orange-400 flex flex-col items-center">
    <section id="messageList"></section>
  </article>
</section>