<section class="flex flex-col items-center">
  {{>registerForm}}

  <article id="signInSuccess" class="hidden hover:shadow-lg shadow-orange-400 p-4 flex flex-col items-center border-2 border-blue-500 bg-blue-500/20 col-span-2'"></article>
  <article id="signInError" class="hidden hover:shadow-lg shadow-orange-400 p-4 flex flex-col items-center border-2 border-red-500 bg-red-500/20 col-span-2'"></article>
</section>