<section class="flex flex-col items-center">
  {{>userCart cart = cart}}
  {{>userData user = user}}

  <button id="logout" class="bg-blue-500 text-black rounded shadow-sm w-28 mt-5 self-end hidden mx-auto">Logout</button>
</section>