<main class="grid grid-cols-1 md:grid-cols-3 gap-x-16 gap-y-10">
  <article class="md:h-1/2 flex flex-col justify-start items-center mb-5">
    {{>login}}
  </article>
  <article class="flex justify-center">
    <div class="flex flex-col h-fit">
      <section class="md:h-1/2 flex flex-col justify-start items-center mb-5">
        {{>form}}
      </section>
      <section class="md:h-1/2 flex flex-col justify-start items-center mb-5">
        <h2 class="font-bold text-4xl text-center mb-6 text-red-500">Lista de Productos:</h2>
        {{>list}}
      </section>
    </div>
  </article>
  <article class="flex justify-center md:justify-start">
    <div class="flex flex-col h-fit">
      <section class="md:h-1/2 flex flex-col justify-start items-center mb-5">
        {{>message}}
      </section>
      <section class="md:h-1/2 flex flex-col justify-start items-center mb-5">
        <h2 class="font-bold text-4xl text-center mb-6 text-red-500">Lista de Mensajes:</h2>
        {{>messageList}}
      </section>
    </div>
  </article>
</main>
<a href="/api/productos-test" class="text-2xl font-bold text-blue-800 underline grid-cols-2 text-center my-4">Fake it 'till you make it</a>
<a href="/info" class="text-2xl font-bold text-blue-800 underline grid-cols-2 text-center my-4">Info</a>
<a href="http://localhost:8081/api/randoms" target="_blank" class="text-2xl font-bold text-blue-800 underline grid-cols-2 text-center my-4">Random</a>