<nav class="flex justify-center items-center h-12 bg-black bg-opacity-50">
  <ul class="flex w-fit justify-between font-bold text-white text-opacity-80">
    {{#each routes}}
      <li><a href="{{this.route}}" class="mx-2 visited:text-red-800 visited:text-opacity-100">{{this.name}}</a></li>
    {{/each}}
  </ul>
</nav>