doctype html
html(lang="en")
  head
    include includes/head.pug
    title PBNJ
  body.grid.grid-cols-1.mb-4
    section.flex.flex-col.items-center
      h1.mt-8.text-2xl.font-bold.italic.underline.text-center Configuración del Server:
    include includes/list